<div class="author">
  <h1 class="author__heading"><%= err.status %></h1>
  <p>The Username <%= err.keyValue.username%> already exists in the system.</p>
  <p>Message: <%= err.message %> StatusCode: <%= err.statusCode%></p>
  <a href="/admin/register"><p>Go back</p></a>
</div>
