<div class="author">
  <h1 class="author__heading">Hi, I am Jarett</h1>
  <p class="author__body">Web Developer and Content Creator</p>
</div>

<img
  src="/img/city1.jpg"
  alt="hero image"
  class="hero-image"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="article__heading">Latest Posts</h2>

  <ul>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
