<div class="author">
  <h1 class="author__heading">404 Not Found.<%= req.body.searchTerm %></h1>
  <p>
    The Url <%= req.originalUrl %> cannot be found on the server. Please Try
    again.
  </p>
  <p>Message: <%= err.message %> StatusCode: <%= err.statusCode%></p>
</div>
